<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="dbconnection" connectionString="Data Source=10.1.31.37;Port=4100;Initial Catalog=AIDB;Integrated Security=True;User ID=sa;Password=syscom1;Use Cursor=true;" providerName="Sybase.Data.AseClient.AseClientFactory" />
  </connectionStrings>
</configuration>